<%- include('includes/head.ejs') %>
  <%- include('includes/navigation.ejs') %>
    <main>
    <h1>It looks like you are lost.</h1>
    <p>The page you are trying to reach was not found</p>
    <a href="/">Go to Home Page</a>
<%- include('includes/end.ejs') %>
